@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--dark: #264653;
--green: #2A9D8F;
--yellow: #E9C46A;
--orange: #F4A261;
--red: #E76F51;
--light: #FFEFC9;
}

* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    font-family: Arial;
    padding: 0px;
    background: whitesmoke;
    font-family: "Montserrat";
    color: var(--dark);
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
}

.header h1 {
    font-size: 50px;
    font-family: "Coiny";
    padding-top: 20%;
}

.art {
    position: absolute;
    top: 15%;
    right: 10%;
}

.btn-primary {
    background-color: var(--dark);
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none white solid;
}

.btn-primary:hover {
    background-color: gray;
    color: white;
}
.btn-secondary {
    background-color: var(--dark);
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .5rem 1.6rem;
    text-align: center;
    text-decoration: none white solid;
}

@media (min-width: 768px) {
    .btn-primary {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: var(--green);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: var(--green);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: var(--red);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: whitesmoke;
    padding-left: 20px;
}

.partner-list {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    font-family: "Coiny";
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: var(--dark);
    color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icons{
    margin: 1em;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*---------- PARALLAX ART ----------*/
.parallax {
    /* The image used */
    background-image: url('img/PnT_hero_bg.png');
    background-color: var(--light);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}