@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--dark: #264653;
--green: #2A9D8F;
--yellow: #E9C46A;
--orange: #F4A261;
--red: #E76F51;
--light: #FFEFC9;
}

* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    font-family: Arial;
    padding: 0px;
    background: whitesmoke;
    font-family: "Montserrat";
    color: var(--dark);
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: left;
    background: var(--light);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header h1 {
    font-size: 50px;
    font-family: "Coiny";
    padding-top: 20%;
}

.header img {
    width: 50%;
    float: right;
}

.btn-primary {
    background-color: var(--dark);
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none white solid;
}

.btn-primary:hover {
    background-color: gray;
    color: white;
}
.btn-secondary {
    background-color: var(--dark);
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .5rem 1.6rem;
    text-align: center;
    text-decoration: none white solid;
}

@media (min-width: 768px) {
    .btn-primary {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: whitesmoke;
    padding-left: 20px;
}

.partner-list {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    font-family: "Coiny";
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: var(--dark);
    color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icons{
    margin: 1em;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}